.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: sienna;
  border-radius: 12px;
  width: 300px;
}

.product-details{
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 300px;
  margin-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.product-name{
  font-size: larger;
  font-weight: bold;
  margin: 0;
}

.product-price {
  margin: 0;
}

* {
  box-sizing: border-box;
}